.Link1 {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    margin: 10px;
}

.boldtag {
    font-weight: bold;
    font-size: 13px;
    color: gray;
    margin: 6px;
    font-family: sans-serif;
}
.tag1 {
    width: fit-content;
    border: none;
    font-family: sans-serif;
    font-size: 13px;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

.p1img {
    width: 100%;
    height: auto;
}
.cardDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 30px;
    padding: 0;
}


.cardDiv2 {
    margin: 0;
    padding: 0;
}


.customCard {
    background-color: #fff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 0;
    padding: 0;
}


.customCard * {
    margin: 0;
    padding: 0;
}


.image-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}


.imagecard {
    width: 100%;
    height: auto;
    display: block;
}


.rate {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: whitesmoke;
    color: black;
    padding: 3px 8px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 5px;
}


.desp {
    font-weight: 600;
    font-size: 13px;
    padding: 10px 10px 0 10px;
    font-family: sans-serif;
    text-transform: capitalize;
}

.titleP {
    font-weight: 600;
    font-size: 11px;
    padding: 10px 10px 0 10px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: gray;
}

.finalP {
    background-color: rgb(245, 239, 239);
    width: fit-content;
    padding: 3px 10px;
    font-size: 12px;
}

.tagCard {
    border: 1px solid lightgray;
    width: fit-content;
    font-size: 10px;
    color: gray;
    font-weight: 600;
    padding: 5px 10px;
    margin: 10px;
}
.filterTag
{
    margin-top: 45px;
    top: 50px;
    position: sticky;
}
.filterP
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: gray;
    font-size: 13px;
}

.accordion-button {
    transition: none !important;
}

.accordion-button:hover {
    background-color: transparent !important;
    color: inherit !important;
    
}

.accordion-collapse {
    transition: none;   
}
.accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}
.imgCard {
    transition: transform 0.5s ease;
}

.imgCard:hover {
    transform: scale(1.0.8);
    opacity: 0.8;
}
.btnPng
{
    background-color:#fff;
    padding: 1px 30px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 20px;
}
.LinkType
{
    text-decoration: none;
}
.desimg1 img
{
    margin-top: 20px;   
    border: 2px solid turquoise;
    object-fit: cover;
   
}
.desAll h1
{
    font-size: 25px;
    color: #4f5362;
}
.desAll h2
{
    font-size: 18px;
    color: #737373;
    font-weight: 400;
}
.desAll .ratedes
{
    border: 1px solid ;
    width: fit-content;
    font-weight: 600;
    color: #4f5362;
    padding: 1px 6px;
    background-color:#fff;
    border-radius: 3px;
    font-size: 15px;
}
.desAll h3
{
    font-size: 23px;
}
.cutPrice
{
    font-weight: 400;
    font-size: 16px;
    color: #737373;
    margin: 5px;
}
.off
{
    color: #00b852;
    font-size: 18px;
}
.taxs
{
    color: #737373;
    font-size: 13px;
}
.offer
{
    background-color: #00b852;
    color: #fff;
    font-weight: 600;
    padding: 1px 10px;
    font-size: 14px;
}
.desbr
{
    border: 1px solid #737373;
    font-size: 14px;
    padding: 2px 8px;
    font-weight: 600;
    color: #737373;
    
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../public/GoogleFonts/Poppins-Thin.ttf);
}
.font-face-gm
{
    font-family:"Poppins", sans-serif ;
}
.hrBold
{
    border: 1px solid;
    color: #837e7ef1;
}
.desTag
{
    font-size: 12px;
    text-transform: capitalize;
    color: #737373;
}
.Add
{
    padding: 8px 30px;
    background-color: #ffd84d;
    border: none;
    margin: 5px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
}
.WishList
{
    padding: 8px 30px;
    background-color: whitesmoke;
    border: none;
    margin: 5px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
}
.location
{
    font-size: 11px;
    font-weight: 800;
}
.locaP
{
    font-size: 13px;
    color: #737373;
}